<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      style="height: 235px;" 
      src="{{imgUrl}}"
      alt="Setimage"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{year}}</p>
      <p class="card-text">{{partNum}}</p>
      <a href="{{setUrl}}" class="btn btn-danger btn-outline-warning ">Details</a>  
    </div>
  </div>
</div>