<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      style="height: 235px; width: autonpm" 
      src="{{this.imgUrl}}"
      alt="Setimage"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.year}}</p>
      <p class="card-text">{{this.partNum}}</p>
      <a href="{{this.setUrl}}" class="btn btn-danger btn-outline-warning ">Details</a>  
    </div>
  </div>
</div>