<div class="container d-flex flex-column justify-content-center my-5" >
    <form action="/user/edit/{{userInSession._id}}" method="POST" enctype="multipart/form-data">
        <div class="d-flex justify-content-center align-items-center my-5">
            <img class="img-thumbnail border-3 border-dark rounded-circle mx-5" src="{{userInSession.profilePicture}}" style="height: 100px; width: 100px" alt="">
            <input type="file" name="profilePicture" class="form-control-file"/>
            <input type="text" name="existingImage" hidden value="{{userInSession.profilePicture}}">
        </div>
        <div class="row">
            <div class="col md-6">
                    <label class="form-label">Username</label>
                    <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-circle" style="color: black"></i>
                    </span>
                    <input class="form-control" type="text" name="username" value="{{userInSession.username}}" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                <label class="form-label">Email</label>
                <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-at-fill" style="color: black"></i>
                    </span>
                    <input class="form-control" type="email" name="email" value="{{userInSession.email}}" disabled/>
                </div>
            </div>
            <button type="submit" class="btn btn-warning mb-3">Edit</button>
        </div>
    </form>
</div>